<div class="card">
  <div class="imgcontainer" [ngClass]="'type-light-' + pokemon.types[0]">
    <img [src]="pokemon.image" [alt]="pokemon.name">
    <div class="imgcontainerbottomliner" [ngClass]="'type-dark-' + pokemon.types[0]"></div>
    <div class="expcontainer">
      <p>exp. </p>
      <p class="be">{{pokemon.base_experience}}</p>
    </div>
  </div>
  <div class="body">
    <p class="name">{{pokemon.name}}</p>
    <ul class="stats">
      <li *ngFor="let stat of pokemon.stats" class="stat-item">
        {{stat.stat.name}}: <span class="stat-value">{{stat.base_stat}}</span>
      </li>
    </ul>
    <div class="types">
      <div class="type" *ngFor="let type of pokemon.types" [ngClass]="'type-light-' + type">
        {{type}}
      </div>
    </div>
  </div>
  
</div>